{% extends "layout.html" %}
{% block content %}
<body ng-app="custom">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="https://new-dust.herokuapp.com/"><img src="images/dust-logo.png" border=0 alt="Dust" class="img-responsive" width=80 style="position:relative;top:-8px;"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" onclick="window.location.reload(true);">Custom</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container" ng-controller="mvp" style="margin-top:50px;">
        <h1 class="text-center" style="color:#ffffff;">Dust Custom</h1>
        <hr>
        <p class="lead text-center" style="color:#ffffff;">Startups only become startups when they launch. Dust helps you launch your startup by building your custom MVP in as little as 1 day. It saves you time, money, and gets your product in the hands of your users, where it should be. Fill in the form below to get a price quote for your MVP within 2 hours.</p>
        <div class="well well-lg">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter your full name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter a valid email ID" class="form-control">
                </div>
                <div class="form-group">
                    <label for="title">MVP Title</label>
                    <input type="text" name="title" id="title" placeholder="Name your MVP" class="form-control">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea name="desc" id="desc" placeholder="Add some details about the MVP." rows=5 class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="platform">Platforms</label>
                    <select name="platforms[]" multiple class="form-control">
                        <option value="web">Web</option>
                        <option value="ios">iOS</option>
                        <option value="android">Android</option>
                        <option value="desktop">Desktop</option>
                        <option value="appletv">Apple TV</option>
                        <option value="applewatch">Apple Watch</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Request Quote</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
</body>
{% endblock %}